.card {
  margin: 3%;
  max-width: 300px;
  box-shadow: 4px 4px 10px grey;
}
.row {
  margin: 1%;
  padding: 1%;
}
h1 {
  font-size: xx-large;
}
.gt-confirmed,
.gy-confirmed,
.ry-confirmed {
  color: blue;
}
.gt-recovered,
.gy-recovered,
.ry-recovered {
  color: green;
}
.gt-deaths,
.gy-deaths,
.ry-deaths {
  color: red;
}
.ry-active {
  color: blueviolet;
}
