<app-header></app-header>

<div class="container">
    <div class="row">
        <h1>Global Total Data</h1>
        <div class="col-md-4">
            <mat-card class="card gt-confirmed">
                <mat-card-content>
                    <h1>{{totalConfirmed | number}}</h1>
                    <h2>Total Confirmed Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="card gt-recovered">
                <mat-card-content>
                    <h1>{{totalRecovered | number}}</h1>
                    <h2>Total Recovered Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="card gt-deaths">
                <mat-card-content>
                    <h1>{{totalDeaths | number}}</h1>
                    <h2>Total Death Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <h1>Global Yesterday's Data</h1>
        <div class="col-md-4">
            <mat-card class="card gy-confirmed">
                <mat-card-content>
                    <h1>{{newConfirmed | number}}</h1>
                    <h2>New Confirmed Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="card gy-recovered">
                <mat-card-content>
                    <h1>{{newRecovered | number}}</h1>
                    <h2>New Recovered Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="card gy-deaths">
                <mat-card-content>
                    <h1>{{newDeaths | number}}</h1>
                    <h2>New Death Cases</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <h1>Regional Data</h1>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Choose Country</mat-label>
                <mat-select [(ngModel)]="selectedCountry">
                    <mat-option (click)="getData()" *ngFor="let country of countries" [value]="country.Slug">
                        {{country.Country}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="countryActive">
        <div class="col-md-3">
            <mat-card class="card ry-active">
                <mat-card-content>
                    <h1>Active</h1>
                    <h2>{{countryActive }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card ry-confirmed">
                <mat-card-content>
                    <h1>Confirmed</h1>
                    <h2>{{countryConfirmed }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card ry-recovered">
                <mat-card-content>
                    <h1>Recovered</h1>
                    <h2>{{countryRecovered }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card ry-deaths">
                <mat-card-content>
                    <h1>Death</h1>
                    <h2>{{countryDeaths }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <canvas id="confirmed"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <canvas id="activeRecoveredDeath"></canvas>
        </div>
    </div>
</div>